################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Oi.Devops/bin
/.vs/
/Oi.Devops/obj
